
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Blog List Excel</h1>
<br />
<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Download Excel file</a>

