@using EntityLayer.Concrete
@model List<Writer>


<li class="nav-item nav-profile dropdown">
    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
        @foreach (var item in Model)
        {
            <div class="nav-profile-img">
                <img src="@item.WriterImage" alt="image">
                <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
                <p class="mb-1 text-black">@item.WriterName</p>
            </div>
        }
    </a>
</li>
